.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
.hypothesis
.vscode
.ipynb_checkpoints
scratch
.DS_Store

*.zip
test_files/
*.hdf5